body {
    margin: 30px;
}

.box2 {
    font-size: 18px;
    padding-left: 30px;
    border: 30px;
    border-style: none;
    border-left-style: solid;
    border-width: medium;
    margin: 30px;
    width: 500px;
    height: 330 px;
}

h1 {
    padding-left: 30px;
}
