body {
    margin: 10px;
}

.box2 {
    padding-left: 10px;
    border: 10px;
    border-style: solid;
    border-width: thin;
    margin: 10px;
    width: 250px;
    height: 330 px;
}

h1 {
    padding-left: 30px;
    color: green;
}

h2 {
    padding-left: 30px;
    color: green;
}

p {
    padding-left: 30px;
}

pre {
    padding-left: 30px;
}

#one {
    color: red;
}

#two {
    color: rgb(0, 255, 255);
    font-style: italic;
}
